{% extends 'shared/base.html' %}

{% block title %}PQ Quality - RMAs{% endblock %}

{% block header %}
  <p>This is where my header inclusion will go.</p>
{% endblock %}

{% block body %}
  <div class="container">
    <h2>RMAs</h2>
    <small><a href="/quality">Back to Quality Home</a></small>
  <table class="table table-hover text-center">
    <tr>
      <th>#</th>
      <th>RMA Number</th>
      <th>Date Opened</th>
      <th>Date Closed</th>
      <th>Customer</th>
      <th>Description</th>
      <th>Status</th>
      <th>Remove</th>
    </tr>
    {% for rma in rmas %}
      <tr>
        <td>{{ rma.id }}</td>
        <td><a href="{{ rma.get_absolute_url }}">{{ rma.number }}</a></td>
        <td>{{ rma.open }}</td>
        <td>{{ rma.closed }}</td>
        <td>{{ rma.customer }}</td>
        <td>{{ rma.description }}</td>
        <td>{{ rma.status }}</td>
        <td><a href="{% url 'rma-delete' rma.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}