header {
	text-align: center;
}

th {
	text-align: center;
}

nav ul {
	list-style-type: none;
	display: inline-block;
}

nav ul li {
	padding: 10px;
}

#logo {
	font-size: 5em;
}

.grey {
	color: #999;
}