header {
	text-align: center;
}

th {
	text-align: center;
}

nav ul {
	list-style-type: none;
	display: inline-block;
}

nav ul li {
	padding: 10px;
}

#logo {
	font-size: 5em;
}

.grey {
	color: #999;
}

.log-subtable {
	padding-top: 20px;
}

a.btn:hover {
	color: #000;
}

#addlog {
	color: #FFF;
	background-color: #77C;
	border-radius: 10px;
}

.error {
	background-color: #FFDDDD;
}