header {
	text-align: center;
}

th {
	text-align: center;
}

nav ul {
	list-style-type: none;
	display: inline-block;
}

nav ul li {
	padding: 10px;
}

#logo {
	font-size: 5em;
}

#footer-text {
	color: #999;
	padding-top: 10px;
}

.log-subtable {
	padding-top: 20px;
}

a.btn:hover {
	color: #000;
}

#addlog {
	color: #FFF;
	background-color: #77C;
	border-radius: 10px;
}

.error {
	background-color: #FFDDDD;
}

.main {
	padding-bottom: 20px;
}

a.deleter {
	cursor: pointer;
}

/* Sticky footer styles */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Adjust by footer height */
	margin-bottom: 40px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set fixed height */
	height: 40px;
	border-top: #999 solid 1px;
}

