{% extends 'inventory/base.html' %}
{% load helpers %}

{% block title %}
{% if plastic %}{{ plastic.number }}{% else %}Add Plastic{% endif %}
{% endblock %}

{% block body %}
  <div class="container">
    <form action="{% if plastic %}{{ plastic.get_absolute_url }}{% else %}{% url 'add' %}{% endif %}" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.errors }}
          {{ field.label_tag }} {{ field|addClass:'form-control' }}
        </div>
      {% endfor %}
      <input type="submit" value="Save" />
    </form>
  </div>
{% endblock %}