<header>
  <p id="logo">ProtoQuick Plastics</p>
  <nav class="text-center">
    <ul class="nav nav-pills">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plastic <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'add' %}">New Plastic</a></li>
          <li><a href="{% url 'plastic-home' %}">All Plastics</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Logs <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a id="addlog" href="{% url 'add-log' %}">New Log</a></li>
          <li><a href="{% url 'log-home' %}">All Logs</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Batches <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'add-batch' %}">New Batch</a></li>
          <li><a href="{% url 'batch-home' %}">All Batches</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Parts <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'add-part' %}">New Part</a></li>
          <li><a href="{% url 'part-home' %}">All Parts</a></li>
        </ul>
      </li>
      
    </ul>
  </nav>
</header>