<header>
  <p id="logo">ProtoQuick Plastics</p>
  <nav class="text-center">
    <ul class="nav nav-pills nav-justified">
      <li {% if active_tab == 'plastic-home' %}class="active" {% endif %} role="presentation"><a href="{% url 'plastic-home' %}">Plastics Home</a></li>
      <li {% if active_tab == 'plastic-new' %}class="active" {% endif %} role="presentation"><a href="{% url 'add' %}">New Plastic</a></li>
      <li {% if active_tab == 'log-new' %}class="active" {% endif %} role="presentation"><a href="{% url 'add-log' %}">Make a Change</a></li>
      <li {% if active_tab == 'log-home' %}class="active" {% endif %} role="presentation"><a href="{% url 'log-home' %}">All Logs</a></li>
    </ul>
  </nav>
</header>