{% extends 'inventory/base.html' %}

{% block title %}PQ Inventory - Plastics{% endblock %}

{% block body %}

<div class="container">
  <table class="table table-striped text-center">
    <tr>
      <th>#</th>
      <th>Plastic Number</th>
      <th>Description</th>
      <th>Quantity (lbs)</th>
      <th>Vendor</th>
      <th>Remove</th>
    </tr>
    {% for plastic in plastics %}
      <tr {% if plastic.needs_ordered %}class="danger"{% endif %}>
        <td>{{ plastic.id }}</td>
        <td><a href="{{ plastic.get_absolute_url }}">{{ plastic.number }}</a></td>
        <td>{{ plastic.description }}</td>
        <td>{{ plastic.quantity }}</td>
        <td>{{ plastic.vendor }}</td>
        <td><a href="{% url 'delete' plastic.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}