{% extends 'shared/base.html' %}

{% block title %}PQ Inventory - Parts{% endblock %}

{% block body %}

<div class="container">
  <h2>Parts</h2>
  <table class="table table-hover text-center">
    <tr>
      <th>#</th>
      <th>Part Number</th>
      <th>Description</th>
      <th>Plastic</th>
      <th>Weight (grams)</th>
      <th>Remove</th>
    </tr>
    {% for part in parts %}
      <tr>
        <td>{{ part.id }}</td>
        <td><a href="{{ part.get_absolute_url }}">{{ part.number }}</a></td>
        <td>{{ part.description }}</td>
        <td>{{ part.plastic }}</td>
        <td>{{ part.weight }}</td>
        <td><a href="{% url 'delete-part' part.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}