{% extends 'inventory/base.html' %}
{% load helpers %}

{% block title %}
{% if plastic %}{{ plastic.number }}{% else %}Add Plastic{% endif %}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>{% if plastic %}{{ plastic.number }}{% else %}New Plastic{% endif %}</h2>
      <form action="{% if plastic %}{{ plastic.get_absolute_url }}{% else %}{% url 'add' %}{% endif %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }} {{ field|addClass:'form-control' }}
          </div>
        {% endfor %}
        <input type="submit" value="Save" />
      </form>
    </div>
  </div>
  <br>
  {% if plastic %}
  <div class="row">
    <div class="col-md-12 text-center">
      <table class="table striped-table">
        <tr>
          <th>#</th>
          <th>Timestamp</th>
          <th>Change (lbs)</th>
          <th>Notes</th>
          <th>Remove</th>
        </tr>
        {% for log in plastic.log_set.all %}
        <tr>
          <td>{{ log.pk }}</td>
          <td>{{ log.timestamp }}</td>
          <td>{{ log.change }}</td>
          <td>{{ log.notes }}</td>
          <td><a href="{% url 'delete-log' log.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
{% endblock %}