{% extends 'inventory/base.html' %}
{% load helpers %}

{% block title %}
{% if plastic %}{{ plastic.number }}{% else %}Add Plastic{% endif %}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-9 main">
      <h2{% if plastic and plastic.needs_ordered %} class="text-danger"{% endif %}>
        {% if plastic %}
          {{ plastic.number }}
        {% else %}
          New Plastic
        {% endif %}
      </h2>
      {% include 'inventory/form-errors.html' %}
      <form action="{% if plastic %}{{ plastic.get_absolute_url }}{% else %}{% url 'add' %}{% endif %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field|addClass:'form-control' }}
          </div>
        {% endfor %}
        <input type="submit" value="Save" />
      </form>
    </div>
  <br>
  {% if plastic %}
  <div class="row">
    <div class="col-md-9 text-center">
      <table class="table striped-table">
        <tr>
          <th>#</th>
          <th>Timestamp</th>
          <th>New Value (lbs)</th>
          <th>Notes</th>
          <th>Remove</th>
        </tr>
        {% for log in plastic.log_set.all %}
        <tr>
          <td>{{ log.pk }}</td>
          <td>{{ log.timestamp }}</td>
          <td>{{ log.new_value }}</td>
          <td>{{ log.notes }}</td>
          <td><a class="deleter" data-href="{% url 'delete-log' log.pk %}" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
{% endblock %}